<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234556111958-ohlrg5ljaf61nap40fuco581oj9cnphp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234556111958-ohlrg5ljaf61nap40fuco581oj9cnphp</string>
	<key>API_KEY</key>
	<string>AIzaSyAfsG9cx2XARHEvPtUbZZCDIeGVZuSdivg</string>
	<key>GCM_SENDER_ID</key>
	<string>234556111958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>ceylondash</string>
	<key>STORAGE_BUCKET</key>
	<string>ceylondash.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234556111958:ios:5af26a0b3b6d751a83cff7</string>
</dict>
</plist>